import { GeistSans } from 'geist/font/sans';
import { GeistMono } from 'geist/font/mono';

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: GeistSans, sans-serif;
}
