@font-face {
	font-family: "yourFont";
	src: url("/Geist-1.3.0/Geist-Medium.woff") format("woff");
}
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: yourFont, sans-serif;
}
